%br
%br

= form_for @cohort do |cohort|
	
	= cohort.hidden_field :subject
	= cohort.hidden_field :start_date
	= cohort.hidden_field :end_date
	= cohort.submit "Hello Admin, Add a New Row and Create a New Course Inline", :method => "POST", :onSubmit => "window.location.href=window.location.href"

%br
%br
%br
%br
%br
%br
%br
%br
%br
%br