%h4 All Cohorts in #{@location.city}

/ #locations_list= render :partial => "locationstwo"
/ #location_form= render :partial => "formtwo"

.row
  .col-sm-12.col-lg-12
    %h4
      %strong 
    %table.display
      %thead
        %tr
          %th Subject
          %th View
          %th Teacher
          %th Start_date
          %th Delete
      %tbody
      - @location.cohorts.each do |cohort|
        %tr.odd
          - if can? :manage, cohort
            %td= best_in_place cohort, :subject, :type => :input
          - else
            %td= cohort.subject

          %td= link_to cohort.subject, cohort

          - if can? :manage, cohort
            %td= best_in_place cohort, :teacher, :type => :input
          - else
            %td= cohort.teacher

          - if can? :manage, cohort
            %td= best_in_place cohort, :start_date, :type => :input
          - else
            %td= cohort.start_date

          - if can? :manage, cohort
            %td.center= link_to "Delete", cohort, :confirm => 'Are you sure?', :method => :delete, :onSubmit => "window.location.href=window.location.href"
          - else
            %td

%br

= form_for Cohort.new do |cohort|
  = cohort.hidden_field :location_id, value: @location.id
  = cohort.hidden_field :start_date
  = cohort.hidden_field :end_date
  = cohort.submit "Hello Admin, Add a New Row and Create a New Course Inline", :method => "POST", :onSubmit => "window.location.href=window.location.href"

%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

/ = link_to "Add a new cohort", new_cohort_path(location_id: @location.id)

