<!DOCTYPE html>
<html>
<head>
  <title>Student</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
    


    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

 

    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">




    
  </head>
  <body>
  
    <!-- NAVIGATION MENU -->

    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>ss
          </button>
          <a class="navbar-brand" href="index.html"> Iron Work</a>
        </div> 
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                                   <% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
<li><%= link_to 'Login', new_user_session_path %></li>
<li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Locations', all_locations_path %></li>
<% end %>
        

            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

<%= yield %>



<script>
function reloadPage() {
    location.reload();
}
</script>
 


  
</body>

</html>